.adminContent{
	background-color: lightblue;
	border-radius: 10px;
	padding-top: 1%;
	padding-bottom: 1%;
}

.AdminHeader{
	height: fit-content;
	margin: auto;
	text-align: center;
	margin-bottom: 2%;
}

.customPuzzleHeader{
	margin: auto;
	text-align: center;
	border-radius: 20px;
	background-color: lightcyan;
	width: 20%;
}

.customPuzzleData{
	margin-bottom: 5%;
}

.customPuzzleDataRow{
	display: "inline-block";
	flex-direction: "row";
	
}

.adminContent{
	width: 70%;
}

.selectProp{
	display: inline-block;
	width: 30%;
	margin-right: 1.5%;
	margin-left: 1.5%;
}

.selectText{
	text-align: center;
	justify-self: center;
	padding: 1%;
	font-weight: bold;
	border-radius: 20px;
	background-color: lightcyan;
	width: 20%;
	margin: auto;
	margin-top: 1%;
}

.propButtons{
	margin: auto;
	align-items: center;
	display: flex;
	flex-direction: row;
	width: 20%;
	gap: 5px;
	margin-top: 2%;
}

.propSaveButton{
	display: flex;
	margin: auto;
	justify-content: center;
	padding: 8px 16px;
	font-size: 16px;
	background-color: lightgreen;
	border-radius: 20px;
	border: 2px solid grey;
}

.propSaveButton:hover{
	background-color: #4caf50;
}

.propResetButton{
	display: flex;
	margin: auto;
	justify-content: center;
	padding: 8px 16px;
	font-size: 16px;
	border-radius: 20px;
	border: 2px solid grey;
}

.selectUser{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 30%;
}

.selectAdminFlag{
	display: flex;
	justify-content: left;
	margin: auto;
	
}

.userOptions{
	margin: auto;
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin-top: 2%;
}

.selectUserBox{
	width: 100%;
}
