/* Header.css */

/* Header Bar */
.header-bar {
	display: flex;
	width: 90vw;
	height: 200px;
	justify-content: space-between;
	align-items: center;
	background-color: #474849cc;
	color: #ffffff;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Logo Styling */
  .header-bar img {
	max-height: 100px;
	height: auto;
	width: auto;
	cursor: pointer;
  }
  
  /* Welcome Text */
  .user {
	font-size: 3em;
	margin: 0;
	color: #f8f9fa;
	font-weight: bold;
  }
  
  /* Authentication Buttons */
  .auth-buttons {
	display: flex;
	gap: 10px;
  }
  
  /* Button Styling */
  .auth-buttons button {
	padding: 20px 35px;
	font-size: 1em;
	color: #ffffff;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .auth-buttons .signup-button {
	background-color: #28a745;
  }
  
  .auth-buttons .admin-button {
	background-color: #ffc107;
	color: #212529;
  }
  
  /* Hover Effects */
  .auth-buttons button:hover {
	background-color: #0056b3;
  }
  
  .auth-buttons .signup-button:hover {
	background-color: #218838;
  }
  
  .auth-buttons .admin-button:hover {
	background-color: #e0a800;
  }
  
  /* Responsive Design */
  @media screen and (max-width: 768px) {
	.header-bar {
	  flex-direction: column;
	  align-items: flex-start;
	}
  
	.auth-buttons {
	  margin-top: 10px;
	  flex-wrap: wrap;
	}
  
	.auth-buttons button {
	  flex: 1;
	  margin-bottom: 5px;
	}
  }
  